html { 
	height: 100%; 
}
body { 
	font-family: Herculanum;
	height: 100%; 
	margin: 0px; 
	padding: 0px;
	background-color: black;
}
#map_canvas { 
	height: 100%; 
	width: 75%;
	float: left;
}

#title {
	color: orange;
	text-align: center;
}

#sidebar {
	width: 25%;
	height: 100%;
	background-color: #800020;
	float: right;
	font-size: 20px;
}
#distances {
	margin-left: 15px;
}
#distance_list {
	font-size: 17px;
}
