html { 
	height: 100%; 
}
body { 

	height: 100%; 
	margin: 0px; 
	padding: 0px;
	background-color: black;
}
#map_canvas { 
	height: 100%; 
	width: 75%;
	float: left;
}

#title {
	color: orange;
	text-align: center;
}

#info {
	width: 25%;
	height: 100%;
	background-color: #FFFFFF;
	float: right;
	font-size: 20px;
}
#dist {
	margin-left: 15px;
}
#list {
	font-size: 17px;
}
